application:
  data-dir: ${DATA_DIR:~/restservice}
spring:
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/db_keluarga_berencana?useTimezone=true&serverTimezone=UTC
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  messages:
    basename: i18n/messages
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 2MB
server:
  port: 8080


